{% load static %}
<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Newapdrfrontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{% static 'styles.ef46db3751d8e999.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'runtime.3e8e8895f746e9b8.js' %}" type="module"></script>
<script src="{% static 'polyfills.982648f9bb7472ef.js' %}" type="module"></script><script src="{% static 'main.4c21682633d8d075.js' %}" type="module"></script>

</body></html>